.googly_eyes {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	background-color: #242933;
	z-index: -100;
}

.eye {
	background-color: var(--nord14);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	overflow: hidden;
}

.pupil {
	background-color: var(--nord0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.eye1 {
	margin-left: -225px;
}

.eye2 {
	margin-left: 25px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: darkred;
}

:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
}

